.form {
  display: flex;
  flex-direction: column;

  align-items: center;
  max-width: 40%;

  text-align: center;
}

.form__title {
  margin-bottom: 19px;

  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: $white;
}

.form input {
  // @include animation;
  width: 93%;

  padding-top: 14px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;

  border-radius: 4px;
  border: 1px solid #C9CCD4;

  &[placeholder] {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: rgba(28, 28, 28, .5);
    letter-spacing: 0.4px;
  }

  &:not(:last-child) {
    margin-bottom: 22px;
  }

  &:hover,
  &:focus {
    padding-top: 13px;
    padding-bottom: 7px;
    padding-left: 29px;
    padding-right: 29px;

    border: 2px solid $mint;
  }
}

.form__btn {
  @include button;
  @include animation;

  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  color: $black;

  background: $mint;
  border-radius: 6px;
  cursor: pointer;

  width: 93%;

  padding: 15px 30px;

  &:hover {
    color: $white;
  }

  &:active,
  &:focus {
    color: $black;
    background-color: $white;
  }
}

@media (max-width: $desktop) {
  .form {
    max-width: 45%;
  }

  .form__title {
    color: $black;

    max-width: 95%;
    letter-spacing: .5px;

    margin-bottom: 29px;
  }

  .form input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    padding-right: 16px;

    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }
}

@media (max-width: $tablet) {
  .form {
    max-width: 96%;
  }

  .form__title {
    color: $black;

    max-width: 95%;
    letter-spacing: .5px;

    margin-bottom: 19px;
  }

  .form input {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
