.intro {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 255px;

  display: flex;
  justify-content: center;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.intro__title {
  margin-top: 25px;

  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;

  color: $white;
}

.intro__subtitle {
  max-width: 75%;
  margin-top: 25px;

  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  color: $white;

  opacity: 0.8;
}

.intro__form {
  flex: 1;

  margin-right: -11px;
  margin-top: 5px;
}

.intro__logo {
  z-index: 0;
}

@media (max-width: $desktop) {
  .intro {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .intro__wrapper {
    margin-top: 110px;

    text-align: center;
  }

  .intro__title {
    font-size: 30px;
    line-height: 42px;
  }

  .intro__subtitle {
    margin: 0 auto;
    margin-top: 19px;

    font-size: 18px;
    line-height: 32px;
  }

  .intro__logo {
    position: absolute;
    top: 25px;
    left: 22px;
  }

  .intro__form {
    margin-top: 151px;
    margin-right: 0;
  }
}

@media (max-width: $tablet) {
  .intro {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }

  .intro__logo {
    position: absolute;
    top: 25px;
    left: 22px;
  }

  .intro__wrapper {
    margin-top: 110px;
    margin-bottom: 60px;

    text-align: center;
  }

  .intro__title {
    margin-top: 11px;
    font-size: 30px;
    line-height: 42px;
  }

  .intro__subtitle {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 19px;

    font-size: 18px;
    line-height: 32px;
  }

  .intro__logo {
    position: absolute;
    top: 25px;
    left: 17px;
  }

  .intro__form {
    margin-top: 25%;
    margin-right: 0;
  }
}
