.main-nav {
  margin: 0 auto;
  max-width: 873px;

  position: relative;
  z-index: 1;
}

.main-nav__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  padding-left: 19px;
  padding-right: 21px;
  padding-bottom: 9px;
  padding-top: 5px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__item {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-align: center;

  opacity: 0.7;

  &:not(:nth-child(4n)) {
    margin-right: 100px;
  }
}

.main-nav__link {
  @include animation;
  color: $white;

  &:hover,
  &:focus {
    color: $mint;
  }

  &:active {
    color: $white;
    opacity: 1;
  }
}

@media (max-width: $desktop) {
  .main-nav {
    min-width: 100%;
    height: 100%;
    background-color: $white;

    position: fixed;

    &--no-js {
      position: absolute;
      height: auto;
    }
  }

  .main-nav__list {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    padding-top: 50px;
  }

  .main-nav__item {
    background-color: #F6F6F6;
    font-size: 20px;
    line-height: 28px;

    padding: 17px 0;
    margin-bottom: 30px;

    &:not(:nth-child(4n)) {
      margin-right: 0;
    }

    &:first-child {
      margin-top: 30px;
    }
  }

  .main-nav__link {
    display: block;
    text-align: left;
    padding-left: 16px;

    color: #48494D;

    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 25px;

      background-image: url("../img/svg/arrow-down.svg");
      right: 16px;
    }
  }
}

@media (max-width: $tablet) {
  .main-nav {
    min-width: 100%;
    padding: 0;
    background-color: $white;
  }

  .main-nav__list {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
    padding-top: 50px;
  }

  .main-nav__item {
    background-color: #F6F6F6;
    font-size: 20px;
    line-height: 28px;

    padding: 17px 0;
    margin-bottom: 30px;

    &:first-child {
      margin-top: 30px;
    }
  }

  .main-nav__link {
    display: block;
    text-align: left;
    padding-left: 16px;

    color: #48494D;
  }
}
